<footer id="footer">
  <ul class="icons">
    <li><a href="#{{site.twitter_username}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#{{ site.github_username }}" class="icon fa-github"><span class="label">Github</span></a></li>
    <li><a href="mailto:{{ site.email }}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; Robert-Jan Keizer</li>
  </ul>
</footer>


<script type="text/javascript" src="{{ "/assets/js/jquery.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/jquery.poptrox.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/skel.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/util.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>